body {
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    margin: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  #animal-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: aliceblue;
  }
  
  #animal-list li {
    margin: 10px;
    cursor: pointer;
  }
  
  #animal-details {
    margin-top: 50px;
    text-align: center;
  }
  
  #animal-details img {
    max-width: 100%;
  }
  
  /* Style for the button element */
  button {
    background-color: #4ca0af;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Style for the button element when hovered */
  button:hover {
    opacity: 0.8;
  }
  